.add-board {
    z-index: 100;
    position: absolute;
    top: 47px;
    left: 277px;
    padding: 0px 12px 15px 12px;
    
    
    width: 304px;
    background-color: $clr2;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);

    .header {
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin-bottom: 3px;
        height: 40px;
        .title {
            color: $clr15;
            font-size: 14px;
            font-weight: 400;
            width: 100%;
            text-align: center;
        }

        .close-create-board-icon{
            @include trello-icon($content: "\e91c", $type: md);
            font-size: 1rem;
            color: #687790;
            font-weight: 600;
            cursor: pointer;

            &:hover{
                color: $clr4
            }
        }
    }

    .body {
        .bg-panel {
            .background-title {
                color: #5e6c84;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
            }
            .img-list {
                gap: 6px;
                margin-top: 3px;
                .img {
                    height: 40px;
                    width: 64px;
                    border-radius: 5px;
                    object-fit: cover;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(80%);
                    }
                }
            }
            .color-list {
                gap: 6px;
                margin-top: 4px;
                .color {
                    width: 40px;
                    height: 30px;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(80%);
                    }
                }
            }
        }
        
        .input-panel {
            .input-title {
                display: block;
                color: #5e6c84;
                font-size: 12px;
                font-weight: 700;
                margin-top: 16px;
                .asterisk {
                    color: #eb5a46;
                }
            }
            input {
                margin-top: 2px;
                width: 100%;
                height: 36px;
                &:focus {
                    background-color: $clr2;
                    color: $clr4;
                    box-shadow: inset 0 0 0 2px $clr8;
                    outline: none;
                    border: none;
                    border-radius: 3px;            
                }
            }
        }
        .create-btn {
            background-color: $clr8;
            color: $clr2;
            width: 100%;
            height: 32px;
            font-size: 14px;
            margin-top: 20px;
            cursor: pointer;
        }
    }

}



