.background-color-menu{
    transition: transform 0.35s;
    overflow-y: hidden;

    &.right-menu {
        top: 0px;
        overflow-y: hidden;
      }

    .right-menu-colors-list{
        overflow-y: auto;
        height: calc(100% - 70px);
        flex-wrap: wrap;
        margin-top: 12px;

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #091e421e;
        }
    
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: hsla(0,0%,100%,.35);
        }
    }

    .right-menu-colors {
        width: 144px;
        height: 96px;
        margin-bottom: 8px;
        margin-inline: 4px;
        object-fit: cover;
        float: left;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        &:hover{
            opacity: .7;
        }
    }

}