#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.board-app{
    @media (max-width: 850px){
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
    }  
    display: flex;
    align-items: flex-start;
    width: 88%;
    margin: auto;
    margin-top: 45px;
    height: 1px;
}