.board-header {
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 10px;
    flex-wrap: wrap;
    button {
        background-color: #00000014;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 5px;
        &:hover {
            background-color: #00000029;
        }
    }
    .board-nav {
        flex-wrap: wrap;
        // margin-bottom: 5px;
        > * {
            margin-inline-end: 5px;
            font-size: 0.9rem;
            cursor: pointer;
            color: #172b4d;
        }
        // .open-sidenav {
        //     background-color: #ffffff3d;
        //     margin-left: 10px;
        //     margin-right: 15px;
        //     border: 1px solid gray;
        //     width: 25px;
        //     height: 25px;
        //     border-radius: 50%;
        //     text-align: center;
        //     &:hover {
        //         background-color: #ffffff52;
        //     }
        //     .arrow-right {
        //         background-image: url(../assets/icons/arrowRight.svg);
        //         height: 25px;
        //     }
        // }
        .board-btn {
            font-size: 0.9rem;
            // margin-bottom: 5px;
            .board-icon {
                background-image: url(../assets/icons/boardicon2.svg);
                width: 16px;
                height: 16x;
                background-size: contain;
                position: relative;
                top: 3px;
            }
        }
        .board-name {
            align-items: center;
            font-weight: 500;
            font-size: larger;
            margin-left: 5px;
            // margin-bottom: 5px;

            &:focus {
                margin-right: 10px;
                padding-inline: 8px 12px;
                background-color: $clr2;
                outline: none;
                box-shadow: inset 0 0 0 2px #0079bf;
                border-radius: 3px;
            }
        }
        .star-btn {
            @include trello-icon($content: "\e966");
            margin-left: 5px;
            &.starred {
                @include trello-icon($content: "\e967");
                color: #f2d600;
            }
        }
        .invited-users {
            > * {
                background-size: contain;
                border: 1px solid rgb(161, 161, 161);
                border-radius: 50%;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: -5px;
                position: relative;
                background-color: #e3e6dd;
                &:hover {
                    background-color: lighten(#e3e6dd, 7%);
                }
            }
        }
        .invite-btn {
            background-color: $clr8;
            color: $clr2;
            height: 32px;
            margin-left: 5px;
            .invite {
                @include trello-icon($content: "\e951");
                color: $clr2;
            }
            &:hover {
                background-color: $clr9;
            }
        }
    }

    .board-action {
        flex-wrap: wrap;
        > * {
            margin-inline-start: 5px;
            cursor: pointer;
            font-size: 0.9rem;
            height: 30px;
            color: #172b4d;
        }
        .filter-btn {
            .filter {
                background-image: url(../assets/icons/filter.svg);
                width: 16px;
                height: 16x;
                background-size: contain;
                position: relative;
                top: 3px;
            }
        }
        .right-nav-btn {
            margin-right: 10px;
            cursor: pointer;
            .dots {
                margin-right: 5px;
                position: relative;
                top: 3px;
                @include trello-icon($content: "\e952");
            }
        }
    }
}
