.home-header {
    height: 68px;
    background-color: $clr16;
    padding: 0 15px;
    .logo {
        gap: 10px;
        .logo-txt {
            font-family: ibmplexmedium;
            font-size: xx-large;
            font-weight: 600;
        }
        .logo-icon {
            background-image: url(../assets/imgs/trello-logo-svg-vector.svg);
            display: inline-block;
            background-size: cover;
            width: 25px;
            height: 25px;
        }
    }

    .home-nav {
        a {
            text-decoration: none;
            font-size: 17.5px;
            line-height: 26.25px;
        }
        button{
            padding: 0.4em;
            border: none;
        }

        .login-btn {
            background-color: inherit;
            font-weight: 500;
            a {
                color: $clr13
            }
            &:hover {
                text-decoration: underline;
            }
        }
        
        .signup-btn {
            background-color: $clr13;
            width: 90px;
            font-weight: 600;
            border-radius: 3px;
            margin-inline-start: 10px;
            a {
                color: $clr2;
            }
            &:hover {
                background-color: $clr17;
            }
        }
    }
}