.home-page {
    // border: 3px solid red;
    background-color: $clr16;
    padding-top: 40px;
    padding-left: 100px;
    min-height: 100vh;
    .hero {
        // border: 3px solid green;
        height: 575px;
        .action-call {
            // border: 3px solid black;
            flex-direction: column;
            flex-basis: 60%;
            justify-content: center;
            align-items: start;
            .hero-title {
                // border: 3px solid purple;
                font-family: ibmplexmedium;
                font-size: 3rem;
            }
            .hero-p {
                // border: 3px solid blue;
                font-family: ibmplexmedium;
                font-size: 20px;
                max-width: 50ch;
                
            }
            
            .live-demo-btn {
                background-color: $clr13;
                color: $clr2;
                font-size: 20px;
                width: 150px;
                padding-top: 5px;
                padding-bottom: 5px;
                cursor: pointer;
            }
        }

        .hero-img-container {
            // border: 3px solid black;
            flex-basis: 45%;
            .hero-img {
                // border: 3px solid orangered;
            }
        }
    }
    
}