.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8px;
    // padding-left: ;
    padding: 0 16px 8px 19px;
    gap: 8px;
    .actions-title {
        font-size: 12px;
        margin-top: 1px;
    }
    > * {
        font-size: 14px;
    }
    @media (min-width: 800px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .placeholder {
            display: none;
        }
    }
    .btn-action {
        @include btn-action;
    }
    .members {
        .icon {
            @include trello-icon($content: "\e946");
        }
    }
    .archive {
        .icon {
            @include trello-icon($content: "\e907");
        }
    }
    .attachment {
        .icon {
            @include trello-icon($content: "\e908");
        }
    }
    .label {
        .icon {
            @include trello-icon($content: "\e93f");
        }
    }
    .checklist {
        .icon {
            @include trello-icon($content: "\e91a");
        }
     
    }
    .dates {
        .icon {
            @include trello-icon($content: "\e91b");
        }
    }
    .cover-action {
        .icon {
            @include trello-icon($content: "\e914");
        }
    }
    .location {
        .icon {
            @include trello-icon($content: "\e944");
        }
    }
}
