.task-details-container {
    @import "./action-popup.scss";
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #000000a3;
    .clickable-background {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        width: 100%;
    }

    .task-details {
        &.cover-open {
            .actions {
                .cover-action {
                    display: none;
                }
            }
        }
        display: flex;
        flex-direction: column;
        background-color: #f5f4f7;
        position: relative;
        width: 96.7%;
        min-height: 79vh;
        // min-height: 86vh;
        border-radius: 2px;
        z-index: 2;
        padding: 0 8px 8px 18px;
        margin: 50px 10px 0 10px;
        margin-top: 50px;
        @media (min-width: 800px) {
            width: 768px;
            margin: 50px 0;
        }
        // .clickable-background {
        //     height: 100%;
        //     width: 100%;
        //     // top: 20px;
        //     position: fixed;
        //     // min-height: 200vh;
        //     min-width: 200vh;
        //     top: -200px;
        //     left: -200px;
        //     cursor: default;
        //     pointer-events: auto;
        //     z-index: -1;
        //     overflow: auto;
        // }
        @import "./task-details-header.scss";
        @import "./main-details.scss";

        .label:not(.btn) {
            cursor: not-allowed;
            height: 32px;
            // margin: 5px;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            // vertical-align: center;
            font-weight: 700;
            font-size: rem(14px);
            color: white;
        }
        .icon {
            color: inherit;
            position: relative;
        }

        .btn.close {
            cursor: pointer;
            border-radius: 50%;
            // TODO: Add dynamic background color (maybe using classes)
            // background-color: #00000014;
            height: 40px;
            margin: 4px;
            border: none;
            padding: 4px;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            // z-index: 2;
            @include trello-icon($content: "\e91c", $type: md);
            &:hover {
                background-color: #00000029;
            }
        }

        // .btn.close::before {
        //     content: "\e91c";
        // background-image: url(../assets/icons/close.svg);
        // }
        .btn {
            background-color: $clr11;
            padding: 6px 12px;
            transition: background-color 85ms, color 85ms;
        }
        .btn:hover {
            cursor: pointer;
            // background-color: $clr11;
            // filter: brightness(50%);
        }
        button {
            border-radius: 4px;
            cursor: pointer;
            border: none;
            color: inherit;
        }
        button:not(.save-new-list-btn) {
            background-color: initial;
        }
        .img-container {
            height: 80px;
            width: 112px;
        }
        .open {
            pointer-events: none;
        }
        .cover {
            height: 116px;
            width: 103.6%;
            transform: translate(-18px);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            .cover-action {
                @include btn-action;
                background-color: #00000014;
                // width: 1px;
                position: absolute;
                right: 9px;
                bottom: 8px;
                line-height: 20px;
                text-transform: capitalize;
                .icon {
                    @include trello-icon($content: "\e914");
                }
            }
        }
    }
    ul {
        padding: 0;
        margin: 0;
    }
}
