.action-popup {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    position: absolute;
    background-color: white;
    top: 33px;
    left: 0;
    min-height: 200px;
    min-width: 200px;
    z-index: 6;
    cursor: default;
    pointer-events: auto;
    text-align: center;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 54vh;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    > * {
        position: relative;
    }
    > *:not(:first-child) {
        margin-top: 10px;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid gray;
        // width: 100%;
        // display: block;
        font-size: rem(14px);
        height: 41px;
        width: 280px;
        .back {
            position: absolute;
            left: 0;
            top: 11px;
            @include trello-icon($content: "\e90a", $type: sm);
        }
    }
    .body {
        height: 100%;
    }
    .close-action {
        position: absolute;
        right: 0;
        top: 5px;
        @include trello-icon($content: "\e91c");
    }
    .computer {
        font-size: 1.5em;
        display: block;
        width: 100%;
        text-align: start;
        input {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: auto;
            width: 100%;
            opacity: 0;
        }
        &:hover {
            background-color: #f5f6f8;
        }
    }

    .create-label-container {
        display: flex;
        flex-direction: column;
        // flex-grow: 1;
        height: 100%;
        label {
            text-align: start;
        }
        input {
            margin: 4px 0 12px;
            padding: 8px 12px;
            background-color: #fafbfc;
            border: none;
            outline: none;
            border-radius: 3px;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            width: 100%;
            line-height: 20px;
        }
    }
    .cover-clrs,
    .clr-opts {
        display: grid;
        grid-template-columns: repeat(auto-fill, 45px);
        grid-auto-rows: 29px;
        gap: 8px;
        // justify-content: center;
        // align-items: center;
        > * {
            border-radius: 3px;
        }
    }
    .clr-opts {
        color: white;
        > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon {
            @include trello-icon($content: "\e916");
        }
    }
    .label {
        width: 240px;
        justify-content: space-between;
        .icon {
            @include trello-icon($content: "\e916");
        }
        padding-left: 10px;
        cursor: pointer;
    }
    .create {
        margin-top: 10px;
    }
    .imgs-container {
        display: grid;
        grid-template-columns: repeat(2, 139px);
        // .img-container {
        //     img {
        //         border-radius: 5px;
        //     }
        // }
    }
    .chosen {
        border: blue 2px solid;
        /* position: absolute; */
        border-radius: 3px;
        width: 123%;
        height: 129%;
        transform: translate(-5px, -4px);
    }
    // .clr-opt {
    //     width: 20px;
    //     height: 20px;
    // }
}
