.app-header {
    height: 45px;
    background-color: $clr9;
    &.trans-header {
        background-color: rgba(0, 0, 0, 0.27);
    }
    .logo {
        margin-left: 10px;
        cursor: pointer;
        .logo-txt {
            font-family: ibmplexmedium;
            font-size: large;
            font-weight: 600;
            margin-left: 7px;
            color: $clr2;
            letter-spacing: 2px;
        }
        .gif-logo {
            content: url(../assets/imgs/moving-logo.gif);
            height: 18px;
        }
    }
    .board-main-nav {
        width: 100%;
        .actions {
            > * {
                font-size: 0.9rem;
                margin-inline-end: 5px;
                background-color: inherit;
                color: $clr2;
                padding: 7px;
                // cursor: not-allowed;
                cursor: pointer;
            }
            > *:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
            &:first-child {
                margin-left: 25px;
            }

            .expand {
                background-image: url(../assets/icons/expandMore.svg);
                padding-right: 5px;
            }
            .create-btn {
                background-color: rgba(0, 0, 0, 0.2);
                width: 65px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }

            .wide-s {
                @include for-mobile-layout {
                    display: none;
                }
            }
            .narrow-s {
                display: none;
                @include for-mobile-layout {
                    display: inline-block;
                }
            }
        }

        .second-actions {
            .search-app-header {
                border: 1px solid rgba(255, 255, 255, 0.25);
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 3px;
                width: 250px;
                height: 32px;
                margin-right: 4px;
                .search-icon, .search-icon-b {
                    display: inline-block;
                    // background-image: url(../assets/icons/search2.svg);
                    margin-top: 6px;
                    margin-left: 7px;
                    width: 20px;
                    height: 20px;
                    // background-size: contain;
                }
                .search-icon-b {
                    display: none;                  
                }
                .search-input {
                    border: none;
                    outline: none;
                    height: 100%;
                    width: 87%;
                    float: right;
                    background-color: transparent;
                    padding-top: 2px;
                    padding-left: 0px;
                    font-size: 14px;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;

                    // background-color: wheat;
                    &::placeholder {
                        color: $clr2;
                    }
                    // &:focus {
                    //     background-color: $clr2;

                    //     .search-icon-b {
                    //         display: inline-block;
                    //         background-color: #fff;                 
                    //     }

                    //     .search-icon{
                    //         display: none;
                    //     }
                    // }
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                }

                @include for-mobile-layout {
                    display: none;
                }
            }

            .mini-search {
                display: none;
                background-color: rgba(0, 0, 0, 0.1);
                width: 37px;
                height: 37px;
                border-radius: 3px;
                padding: 2px;
                cursor: pointer;
                .search-icon {
                    margin-top: 5px;
                    margin-left: 5px;
                    background-image: url(../assets/icons/searchicon.svg);
                    height: 20px;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                    // cursor: not-allowed;
                }

                @include for-mobile-layout {
                    display: block;
                }
            }

            .info {
                width: 32px;
                height: 32px;
                border-radius: 3px;
                margin-right: 3px;
                background-color: inherit;
                .info-icon {
                    display: block;
                    background-image: url(../assets/icons/info.svg);
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }

            .notifications {
                width: 32px;
                height: 32px;
                border-radius: 3px;
                margin-right: 4px;
                background-color: inherit;
                .notifications-icon {
                    // filter: brightness(1);
                    display: block;
                    background-image: url(../assets/icons/notifications2.svg);
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }

            .profile-app-header {
                position: relative;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                height: 32px;
                width: 32px;
                margin-right: 4px;
                background-size: contain;
                cursor: pointer;
                .profile-modal {
                    cursor: default;
                    > * {
                        border-bottom: 1px solid rgba(9, 30, 66, 0.129411764705882);
                    }
                    display: flex;
                    flex-direction: column;
                    padding: 0 12px;
                    // bottom: -68px;
                    top: 42px;
                    position: absolute;
                    // bottom: 0;
                    z-index: 3;
                    right: 0;
                    color: #172b4d;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu",
                        "Droid Sans", "Helvetica Neue", sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    background-color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
                    box-sizing: border-box;
                    outline: 0;
                    overflow: hidden;
                }
                .header {
                    text-align: center;
                    line-height: 40px;
                    font-weight: 400;
                    display: block;
                    width: 280px;
                    color: #5e6c84;
                    border-bottom: 1px solid rgba(9, 30, 66, 0.129411764705882);
                    margin-bottom: 8px;
                    .close-profile-modal {
                        @include trello-icon($content: "\e91c", $type: md);
                        font-size: 1rem;
                        color: #687790;
                        font-weight: 600;
                        cursor: pointer;
            
                        &:hover{
                            color: $clr4
                        }
                    }
                }
                .profile-icon {
                    height: 40px;
                    width: 40px;
                    background-size: contain;
                    border-radius: 50%;
                    margin-top: 4px;
                    // line-height: 40px;
                }
                .user {
                    display: flex;
                    padding-bottom: 12px;
                }
                .details {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    span {
                        margin-top: 4px;
                    }
                    .fullname {
                        // font-size: 0.8rem;
                        // letter-spacing: 0.9px;
                        // word-spacing: -2px;
                    }
                    small {
                        color: #b3bac5;
                    }
                }
                .profile-btns {
                    // color: black;
                    display: flex;
                    flex-direction: column;
                    padding: 6px 0;
                    > * {
                        cursor: not-allowed;
                        border: none;
                        background: #fff;
                        border-radius: 0;
                        box-shadow: none;
                        color: #172b4d;
                        display: block;
                        height: 100%;
                        padding: 5px 0;
                        text-align: left;
                        text-decoration: none;
                        line-height: 20px;
                        width: 100%;
                    }
                }
                .logout {
                    border: none;
                    background: #fff;
                    border-radius: 0;
                    box-shadow: none;
                    color: #172b4d;
                    display: block;
                    height: 100%;
                    padding: 6px 0;
                    margin-block: 6px;
                    text-align: left;
                    text-decoration: none;
                    line-height: 20px;
                    width: 100%;
                    &:hover {
                        background: rgba(9, 30, 66, 0.04);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
// input:placeholder-shown + .placeholder::after {
//     content: "placeholder";
//   }
