.app-header {
    // width: 100%;
    height: 45px;
    background-color: $clr9;
    &.trans-header {
        background-color: rgba(0, 0, 0, 0.27)
    }
    .logo {
        margin-left: 10px;
        cursor: pointer;
        .logo-txt {
            font-family: ibmplexmedium;
            font-size: large;
            font-weight: 600;
            margin-left: 7px;
        }
        .gif-logo {
            content: url(../assets/imgs/moving-logo.gif);
            height: 18px;
        }
    }
    .board-main-nav {
        width: 100%;
        .actions {
            >* {
                font-size: 0.9rem;
                margin-inline-end: 5px;
                background-color: inherit;
                color: $clr2;
                padding: 7px;
                cursor: pointer;
            }
            >*:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
            &:first-child {
                margin-left: 25px;
            }

            .expand {
                background-image: url(../assets/icons/expandMore.svg);
                padding-right: 5px;
            }
            .create-btn {
                background-color: rgba(0, 0, 0, 0.2);
                width: 65px;
                
                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }
            
            .wide-s {
                @include for-mobile-layout {
                    display: none;
                }
            }
            .narrow-s {
                display: none;
                @include for-mobile-layout {
                    display: inline-block;
                }
            }
        }

        .second-actions {

            .search-app-header {
                border: 1px solid rgba(255, 255, 255, 0.25);
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 3px;
                width: 250px;
                height: 32px;
                .search-input {
                    border: none;
                    outline: none;
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                    &::placeholder {
                        color: $clr2;
                    }
                    &:focus {
                        background-color: $clr2;
                    }
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                }

                @include for-mobile-layout {
                    display: none;
                }
            }

            .mini-search {
                display: none;
                background-color: rgba(0, 0, 0, 0.1);
                width: 37px;
                height: 37px;
                border-radius: 3px;
                padding: 2px;
                cursor: pointer;
                .search-icon {
                    margin-top: 5px;
                    margin-left: 5px;
                    background-image: url(../assets/icons/searchicon.svg);
                    height: 20px;
                }
                
                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                    cursor: not-allowed;
                }
                
                @include for-mobile-layout {
                    display: block;
                }
            }
            
            .profile-app-header {
                border: 1px solid lightgray;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                margin: 0 10px;
                height: 35px;
                width: 35px;
                
                .letter {
                    font-weight: bolder;
                }
            }
        }
    }
}
// input:placeholder-shown + .placeholder::after {
//     content: "placeholder";
//   }