.attachments-container {
    .icon {
        @include trello-icon($content: "\e908", $type: lg);
    }

    .attachment-thumbnail {
        display: flex;
        // justify-content: space-between;
        // > *:not(:first-child) {
        //     align-self: center;
        // }
        .attachment-details {
            display: flex;
            flex-direction: column;
            // .attachment-
        }
    }
}
