.board-details {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: calc(100vh - 45px);
    // height: 100vh;
    position: relative;
    
    .main-board {
        height: calc(100vh - 100px);
        overflow-x: auto;
        padding: 10px 4px 0px 4px;

        &::-webkit-scrollbar {
            height: 12px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: hsla(0,0%,100%,.35);
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            margin: 0 5px;
            background-color: rgba(0,0,0,.15);
        }

        &.show-title{
            .task-label {
                animation: show-labels 0.45s;
                // margin: 0 4px 4px 0;
                // min-width: 40px;
                // text-shadow: none;
                // width: auto;
                // border-radius: 4px;
                // float: left;
                // font-size: 12px;
                // font-weight: 700;
                // color: #fff;
                // line-height: 240px;
                padding-right: 9px; 
                padding-left: 2px; 
                height: 16px;
                max-width: 150px;
                line-height: 15px;     
            }

        &.hide-title{
            .task-label {
            animation: hide-labels 0.45s;
            padding: 0; 
            height: 8px;
            max-width: 40px;
            line-height: 240px;
            }
        }
        }
    }
    
    .add-group-btn{
        background-color: rgba(0, 0, 0, 0.03);
        text-align: left;
        border: none;
        border-radius: 3px;
        height: 32px;
        padding: 4px;
        min-width: 272px;
        color: $clr4;
        line-height: 20px;

        span{
            font-size: 22px;
        }
        
        &:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    form{
        width: 272px;
    }

    .add-group-container textarea{
        box-shadow: inset 0 0 0 2px #0079bf;
        background-color: $clr2;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans";
        border-radius: 3px;
        line-height: 20px;
        outline: none;
        padding: 8px 12px;
        width: 264px;
        height: 40px;
    }

    .save-new-list-btn{
        border-radius: 3px;
        background-color: $clr8;
        color: $clr2;
        border: none;
        box-shadow: none;
        line-height: 20px;
        padding: 6px 12px;

        &:hover{
            background-color: $clr9;
            cursor: pointer;
        }
    }
}

@keyframes show-labels {
    0% {
        color: #0000;
        height: 8px;
        width: 40px;
    }
    25% {
        height: 8px;
        padding-right: 10px;
        max-width: 150px;
    }
    45% {
        height: 8px;
        padding-right: 9px;
    }
    53% {
        height: 8px;
        padding-right: 8px;
    }
    75% {
        color: #0000;
        height: 16px;
        line-height: 16px;
    }
}

@keyframes hide-labels {
    0% {
        height: 16px;
        line-height: 16px;
        padding: 0 8px;
        max-width: 150px;
    }
    33% {
        color: #0000;
        height: 16px;
        line-height: 16px;
        max-width: 150px
    }
    66% {
        color: #0000;
        height: 8px;
        line-height: 100px;
        padding: 0 8px;
        max-width: 150px
    }
    to {
        color: #0000;
        padding: 0;
        width: 40px;
    }
}
