.board-group{
    padding: 0px 5px 15px;
    margin-inline: 10px;
    border-radius: 3px;
    background-color: $clr3;
    width: 272px;
    h1{
        padding-inline: 8px;
        padding-block: 15px;
        font-size: em(14px);
        line-height: 20px;
        color: $clr4
    }
    .add-card-btn{
        color: #5e6c84;
        background-color: inherit;
        border: none;
        border-radius: 3px;
        width: 225px;
        padding: 6px;
        text-align: left;

        &:hover{
           background-color: rgba(9,30,66,.0784313725490196);
           cursor: pointer;
        }
    }
}