.board-header {
    height: 45px;
    button {
        background-color: #ffffff3d;
        padding-right: 10px;
        padding-left: 10px;
        &:hover {
            background-color: #ffffff52;
        }
    }
    .board-nav {
        >* {
            margin-inline-end: 5px;
            cursor: pointer;
        }
        .open-sidenav {
            background-color: #ffffff3d;
            margin-left: 10px;
            border: 1px solid gray;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            &:hover {
                background-color: #ffffff52;
            }
        }
        .board-name {
            align-items: center;
            font-weight: 500;
            font-size: larger;
            margin-left: 5px;
            margin-right: 10px;
            &:focus {
                background-color: $clr2;
            }
        }
        .invited-users {
            >* {
                border: 1px solid gray;
                border-radius: 50%;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 3px;
            }
        }
    }
    
    .board-action {
        >* {
            margin-inline-start: 5px;
            cursor: pointer;

        }
        .right-nav-btn {
            margin-right: 10px;
        }
    }
}
