.board-header {
    height: 45px;
    padding-left: 10px;
    flex-wrap: wrap;
    button {
        background-color: #00000014;;
        padding-right: 10px;
        padding-left: 10px;
        &:hover {
            background-color: #00000029;;
        }
    }
    .board-nav {
        flex-wrap: wrap;
        >* {
            margin-inline-end: 5px;
            font-size: 0.9rem;
            cursor: pointer;
        }
        .open-sidenav {
            background-color: #ffffff3d;
            margin-left: 10px;
            margin-right: 15px;
            border: 1px solid gray;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            &:hover {
                background-color: #ffffff52;
            }
            .arrow-right {
                background-image: url(../assets/icons/arrowRight.svg);
                height: 25px;
            }
        }
        .board-btn {
            font-size: 1rem;
            .board-icon {
                background-image: url(../assets/icons/boardicon.svg);
                width: 24px;
                height: 18px;
            }
        }
        .board-name {
            align-items: center;
            font-weight: 500;
            font-size: larger;
            margin-left: 5px;
            margin-right: 10px;
            &:focus {
                background-color: $clr2;
            }
        }
        .invited-users {
            >* {
                border: 1px solid gray;
                border-radius: 50%;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 3px;
                &:hover {
                    background-color: #ffffff52;
                }
            }
        }
        .star-btn {
            @include trello-icon($content: "\e966");
        }
        .invite-btn {
            .invite {
                @include trello-icon($content: "\e951");
            }
        }
    }
    
    .board-action {
        flex-wrap: wrap;
        >* {
            margin-inline-start: 5px;
            cursor: pointer;
            font-size: 0.9rem;
            height: 30px;
        }
        .filter-btn {
            .filter {
                background-image: url(../assets/icons/filter.svg);
            }
        }
        .right-nav-btn {
            margin-right: 10px;
            .dots {
                margin-right: 5px;
                position: relative;
                top: 3px;
                @include trello-icon($content: "\e952");
            }
        }
    }
}