.dates-container {
    overflow-y: auto;
    height: 500px;
    scroll-snap-align: center;
    padding: 0 4px;
    margin: 0 4px;

    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #091e421e;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: hsla(0,0%,100%,.35);
    }
    .dp__flex_display {
        justify-content: center;
    }

    p {
        margin: 5px;
        position: relative;
        left: 3px;
        &.lable {
            text-align: left;
            color: #5e6c84;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            margin-top: 10px;
        }
        &.date {
            border: 2px solid $clr8;
            border-radius: 3px;
            width: min-content;
            padding: 2px 4px;
        }
    }

    .dates-btn {
        width: 95%;
        background-color: $clr8;
        color: $clr2;
        margin-top: 5px;
        margin-bottom: 7px;
        height: 30px;
        font-size: 15px;
        cursor: pointer;
        &:hover {
            background-color: $clr9;
        }
    }
    input {
        background-color: #fafbfc;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        width: 100px;
        border: none;
        border-radius: 3px;
        line-height: 25px;
    }

}