.header-board-list {
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 47px;

    width: 250px;
    background-color: $clr2;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    .header {
        color: #5e6c84;
        .title {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            margin-left: 4px;
        }
        .close-btn {
            cursor: pointer;
            background-color: inherit;
        }
    }
    .board-list {
        margin-top: 10px;
        .board {
            padding: 5px;
            font-weight: bold;
            cursor: pointer;
            .mini-pic {
                width: 35px;
                height: 35px;
                display: inline-block;
                background-size: cover;
                border-radius: 4px;
                margin-inline-end: 17px;
            }
            &:hover {
                background-color: rgba(9,30,66,.08);
                border-radius: 4px;
            }
        }
    }
}