.home-header {
    height: 68px;
    background-color: $clr16;
    padding: 0 15px;
    .logo {
        font-size: x-large;
    }

    .home-nav {
        a {
            text-decoration: none;
            font-size: 17.5px;
            line-height: 26.25px;
        }
        button{
            padding: 0.4em;
            border: none;
        }

        .login-btn {
            background-color: inherit;
            font-weight: 500;
            a {
                color: $clr13
            }
            &:hover {
                text-decoration: underline;
            }
        }
        
        .signup-btn {
            background-color: $clr13;
            width: 90px;
            font-weight: 600;
            border-radius: 3px;
            margin-inline-start: 10px;
            a {
                color: $clr2;
            }
            &:hover {
                background-color: $clr17;
            }
        }
    }
}