.login-logout-header {
    .logo {
        // border: 1px solid black;
        width: min-content;
        margin: 40px auto;
        span {
            font-family: IBMPlex;
            font-size: xxx-large;
        }
    }
}