.main-content {
    display: flex;
    flex-direction: column;
    // font-size: 0.9rem;
        .labels-container {
            gap: 5px;
            font-weight: 600;
            color: #5e6c84;
            font-size: 12px;
            margin-left: 40px;
            margin-top: 18px;
            // gap: 7px;
            small {
                letter-spacing: 1px;
            }
            .labels-list {
                // margin-left: 1px;
                flex-direction: row;
                flex-wrap: wrap;
                .label {
                    min-width: 44px;
                }
            }
        }
        
        .due-date-container {
            gap: 5px;
            font-weight: 600;
            color: #5e6c84;
            font-size: 12px;
            margin-left: 40px;
            margin-top: 18px;
            small {
                letter-spacing: 1px;
            }
            .date-display {
                gap: 5px;
                .dueDate-checkbox {
                    background-color: #fafbfc;
                    border-radius: 2px;
                    box-shadow: inset 0 0 0 2px #dfe1e6;
                    cursor: pointer;
                    height: 16px;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    transition: all 0.2s ease-in-out;
                    white-space: nowrap;
                    width: 16px;
    
                    &:hover {
                        background-color: #ebecf0;
                        box-shadow: inset 0 0 0 2px #dfe1e6;
                    }

                }
                &.done {
                    .dueDate-checkbox {
                        background-color: #0079bf;
                        box-shadow: inset 0 0 0 2px #0079bf;
    
                        &:hover {
                            background-color: #5ba4cf;
                            box-shadow: inset 0 0 0 2px #5ba4cf;
                        }
                    }
    
                    .checked-icon {
                        position: absolute;
                        right: 1px;
                        @include trello-icon($content: "\e916");
                        font-size: 14px;
                        color: $clr2;
                    }
                }

                .due-date {
                    background-color: rgba(9, 30, 66, 0.04);
                    padding: 6px 12px;
                    border-radius: 3px;
                    font-weight: 400;

                    &:hover {
                        background-color: rgba(9, 30, 66, 0.08);
                    }
                    .mini-status {
                        margin-left: 10px;
                        border-radius: 3px;
                        padding: 1px 3px;
                        &.due-soon {
                            background-color: #f2d600;
                        }
                        &.overDue {
                            background-color: #ec9488;
                            color: $clr2;
                        }
                        &.task-done {
                            background-color: #61bd4f;
                            color: $clr2;
                            
                        }
                    }
                }
            }
        }
    

    > * {
        margin-top: 13px;
        display: flex;
        flex-direction: column;
        > * {
            display: flex;
            gap: 12px;
        }
        &:not(.labels-container) {
            gap: 4px;
        }
        &:not(:first-child) {
            margin-top: 29px;
            // margin-left: 6px;
        }
    }

    .checklist-container {
        .screen-toggle{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
        }
        margin-top: 25px;
        .checklist-header {
            justify-content: space-between;
            align-items: center;

            .checklist-header-title {
                gap: 12px;
            }

            .checklist-title {
                width: 90%;
                overflow: hidden;
                cursor: pointer;

                &:focus {
                    padding: 4px 5px 4px 8px;
                    background-color: $clr2;
                    color: $clr4;
                    box-shadow: inset 0 0 0 2px $clr8;
                    outline: none;
                    border-radius: 3px;
                    width: 430px;
                }
            }

            .checklist-icon {
                // padding: 4px 5px 4px 8px;
                @include trello-icon($content: "\e91a", $type: lg);
                color: #42526e;
            }

            .delete-checklist {
                align-self: flex-end;
                line-height: 20px;
                padding: 6px 12px;
                font-size: 14px;
                background-color: #091e420a;

                &:hover {
                    background-color: #091e4214;
                }
            }
        }

        .progress-bar-container {
            padding-top: 5px;
            .progress-percentage {
                align-self: center;
                margin-left: 5px;
                font-size: 11px;
                line-height: 10px;
            }

            .progress-bar {
                padding-top: 3px;
                width: 100%;
                align-self: center;

                .background-bar {
                    background-color: #091e4214;
                    border-radius: 4px;
                    height: 8px;
                    position: relative;
                }

                .front-bar {
                    position: absolute;
                    background-color: #0079bf;
                    border-radius: 4px;
                    bottom: 0;
                    left: 0;
                    top: 0;
                    transition-duration: 0.14s;
                    transition-property: width, background-color;
                    transition-timing-function: ease-in;

                    &.done {
                        background: #61bd4f;
                    }
                }
            }
        }

        .checklist-items {
            border-radius: 3px;
            padding-block: 6px;
            // position: relative;
            cursor: pointer;

            &:hover {
                background-color: #091e420a;
                .dots-icon {
                    @include trello-icon($content: "\e952");
                    padding-left: 2px;
                }
            }

            &.done {
                .item-title {
                    color: #5e6c84;
                    text-decoration: line-through;
                }

                .checklist-checkbox {
                    background-color: #0079bf;
                    box-shadow: inset 0 0 0 2px #0079bf;

                    &:hover {
                        background-color: #5ba4cf;
                        box-shadow: inset 0 0 0 2px #5ba4cf;
                    }
                }

                .checked-icon {
                    position: absolute;
                    right: 1px;
                    @include trello-icon($content: "\e916");
                    font-size: 14px;
                    color: $clr2;
                }
            }

            .item-title {
                align-self: center;
                min-height: 20px;
                width: 90%;
                overflow: hidden;
                cursor: pointer;

                &:focus {
                    padding: 4px 5px 4px 8px;
                    background-color: $clr2;
                    color: $clr4;
                    box-shadow: inset 0 0 0 2px $clr8;
                    outline: none;
                    border-radius: 3px;
                    width: 430px;
                }
            }

            .checklist-checkbox {
                background-color: #fafbfc;
                border-radius: 2px;
                box-shadow: inset 0 0 0 2px #dfe1e6;
                cursor: pointer;
                height: 16px;
                margin: 5px;
                overflow: hidden;
                position: relative;
                text-align: center;
                transition: all 0.2s ease-in-out;
                white-space: nowrap;
                width: 16px;

                &:hover {
                    background-color: #ebecf0;
                    box-shadow: inset 0 0 0 2px #dfe1e6;
                }
            }

            .dots-icon-container {
                height: 20px;
                width: 20px;
                border-radius: 0;
                margin-right: 3px;
                box-sizing: unset;
                padding: 3px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    margin-left: 1px;
                    background-color: #091e4214;
                }
            }

            .remove-item-modal {
                position: fixed;
                z-index: 10;
                width: 270px;
                // right: 200px;
                // top: 400px;
                left: 570px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                background-color: $clr2;
                border-radius: 3px;
                box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
                outline: 0;

                .remove-item-header {
                    margin-bottom: 8px;
                    padding: 8px 12px;
                    text-align: center;
                    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
                    color: #5e6c84;
                    height: 40px;

                    span{
                        padding-top: 10px;
                    }

                    .close-icon{
                        float: right;
                        font-weight: 600;
                        @include trello-icon($content: "\e91c")
                    }

                }
                .delete-item{
                    width: 100%;
                    padding: 6px 12px;
                    margin-bottom: 8px;

                    &:hover{
                        background-color: rgba(9, 30, 66, 0.08);
                    }
                }
            }
        }

        .add-checklist-item-form {
            flex-direction: column;

            .add-checklist-item-input {
                align-self: flex-end;
                height: 37px;
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                border: none;
                border-radius: 3px;
                color: #172b4d;
                cursor: text;
                width: 93%;
                font-size: 14px;
                margin: 4px 0 0 0;
                padding: 8px 12px;

                &:focus {
                    outline: none;
                }
            }

            .add-checklist-item-btn {
                align-self: flex-start;
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: $clr2;
                font-size: 14px;
                margin-left: 38px;
                padding: 6px 12px;

                &:hover {
                    background-color: #026aa7;
                }
            }

            .close-checklist-icon {
                align-self: center;
                margin-left: 12px;
                @include trello-icon($content: "\e91c", $type: lg);
                color: #42526e;
                cursor: pointer;

                &:hover {
                    color: #172b4d;
                }
            }
        }

        .open-add-item-btn {
            margin-left: 38px;
            margin-top: 4px;
            margin-bottom: 8px;
            background-color: #091e420a;
            padding: 6px 12px;
            line-height: 20px;
            align-self: flex-start;
            font-size: 14px;
        }
    }

    @import "./members-container.scss";
    @import "./description-container.scss";
    @import "./activities-container.scss";
    @import "./attachments-container.scss";
}
