.main-content {
    display: flex;
    flex-direction: column;
    // font-size: 0.9rem;
    .labels-container {
        gap: 5px;
        font-weight: 600;
        color: #5e6c84;
        font-size: 12px;
        margin-left: 40px;
        margin-top: 18px;
        // gap: 7px;
        small {
            letter-spacing: 1px;
        }
        .labels-list {
            // margin-left: 1px;
            flex-direction: row;
            flex-wrap: wrap;
            .label {
                min-width: 44px;
            }
        }
    }

    > * {
        margin-top: 13px;
        display: flex;
        flex-direction: column;
        > * {
            display: flex;
            gap: 12px;
        }
        &:not(.labels-container) {
            gap: 4px;
        }
        &:not(:first-child) {
            margin-top: 29px;
            // margin-left: 6px;
        }
    }

    .checklist-container {
        .checklist-icon {
            @include trello-icon($content: "\e91a", $type: lg);
            color: #42526e;
        }

        .checklist-items{
            border-radius: 3px;
            padding-block: 6px;
            cursor: pointer;

            &:hover{
                background-color: #091e420a;

            }

            &.done{
                .item-title{
                    color: #5e6c84;
                    text-decoration: line-through;
                }
                
                .checklist-checkbox{
                    background-color: #0079bf;
                    box-shadow: inset 0 0 0 2px #0079bf;

                    &:hover{
                        background-color: #5ba4cf;
                        box-shadow: inset 0 0 0 2px #5ba4cf;
                    }
                }

                .checked-icon {
                    position: absolute;
                    right: 1px;
                    @include trello-icon($content: "\e916");
                    font-size: 14px;
                    color: $clr2
                }

            }

            .item-title{
                align-self: center;
                min-height: 20px;
            }

            .checklist-checkbox {
                background-color: #fafbfc;
                border-radius: 2px;
                box-shadow: inset 0 0 0 2px #dfe1e6;
                cursor: pointer;
                height: 16px;
                margin: 5px;
                overflow: hidden;
                position: relative;
                text-align: center;
                transition: all 0.2s ease-in-out;
                white-space: nowrap;
                width: 16px;

                &:hover{
                    background-color: #ebecf0;
                    box-shadow: inset 0 0 0 2px #dfe1e6;
                }
            }
        }

        .add-checklist-item-form{
            flex-direction: column;

            .add-checklist-item-input{
                height: 37px;
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                border: none;
                border-radius: 3px;
                color: #172b4d;
                cursor: text;
                width: 100%;
                margin: 4px 0 0;
                padding: 8px 12px;
            }
        }

    }

    @import "./members-container.scss";
    @import "./description-container.scss";
    @import "./activities-container.scss";
    @import "./attachments-container.scss";
}
