.main-details {
    flex-grow: 1;
    display: grid;
    gap: 9px;
    grid-template-columns: 539px 1fr;
    margin-top: -2px;
    @import "./main-content.scss";
    @import "./task-actions.scss";
    .task-layout {
        margin-left: 38px;
    }
}
