.right-side-nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $clr18;
    width: 339px;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 12px 24px -6px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    transform: translateX(100%);
    transition: transform 0.3s;
    transition-timing-function: ease-in;

    li{
        cursor: pointer;
    }

    &.open {
        transform: translateX(0);
        // transition: transform .6s;
    }

    h1 {
        text-align: left;
    }

   
}
