.right-side-nav {
    transition: transform 0.2s;
    
    .main-menu-list {
        margin-top: 12px;
    }

    .main-list-item {
        cursor: pointer;
        padding: 6px 6px 6px 17px;

        &:hover{
            background-color: #E2E4E9;
            border-radius: 3px;
        }

        .board-icon-img {
            margin-right: 14px;
            height: 20px;
            width: 20px;
            background-size: cover;
            background-position: 50%;
            border-radius: 3px;
        }
    }

    h1 {
        margin: auto;
    }
}
