.actions {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    padding: 0 16px 8px 8px;
    > * {
        font-size: 12px;
        display: flex;
        padding: 6px 12px;
        position: relative;
        .clickable-background {
            background-color: none;
            position: fixed;
            min-height: 200vh;
            min-width: 200vh;
            top: -200px;
            left: -200px;
            cursor: default;
            pointer-events: auto;
            z-index: 3;
        }
        &:not(:first-child) {
            margin-top: 8px;
            border-radius: 3px;
            cursor: pointer;
            height: 32px;
            max-width: 300px;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;

            margin-left: 13px;
        }
        &:hover  {
            background-color: $clr19;
            >* {
                background-color: inherit;
            }
        }
    }

    h3 {
        padding-top: 3px;
    }
    .members {
        .icon {
            @include trello-icon($content: "\e946", $type: sm);
        }
    }
    .archive {
        .icon {
            @include trello-icon($content: "\e907", $type: sm);
        }
    }
    .attach {
        .icon {
            @include trello-icon($content: "\e908", $type: sm);
        }
    }
    .label {
        .icon {
            @include trello-icon($content: "\e93f", $type: sm);
        }
    }
    .checklist {
        .icon {
            @include trello-icon($content: "\e91a", $type: sm);
        }
    }
    .dates {
        .icon {
            @include trello-icon($content: "\e91b", $type: sm);
        }
    }
    .cover-action {
        .icon {
            @include trello-icon($content: "\e914", $type: sm);
        }
    }
    .location {
        .icon {
            @include trello-icon($content: "\e944", $type: sm);
        }
    }
    @import "./action-popup.scss";
}
