.task-details-container {
    @import "./action-popup.scss";
    height: 107%;
    width: 100%;
    position: absolute;
    top: -45px;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    .clickable-background {
        height: 106%;
        background: red;
        position: absolute;
        /* top: -1px; */
        z-index: 2;
        left: 0;
        width: 100%;
    }

    .task-details {
        display: flex;
        flex-direction: column;
        background-color: #f5f4f7;
        position: absolute;
        top: 0;
        left: 50%;
        width: 96.7%;
        min-height: 92vh;
        transform: translateX(-51.3%);
        border-radius: 2px;
        z-index: 2;
        padding: 0 8px 8px 16px;
        margin: 50px 10px 0 10px;
        margin-top: 50px;
        @media (min-width: 800px) {
            width: 768px;
            margin: 50px auto 0 auto;
        }
        // .clickable-background {
        //     height: 100%;
        //     width: 100%;
        //     // top: 20px;
        //     position: fixed;
        //     // min-height: 200vh;
        //     min-width: 200vh;
        //     top: -200px;
        //     left: -200px;
        //     cursor: default;
        //     pointer-events: auto;
        //     z-index: -1;
        //     overflow: auto;
        // }
        @import "./task-details-header.scss";
        @import "./main-details.scss";

        .label:not(.btn) {
            cursor: not-allowed;
            height: 32px;
            // margin: 5px;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            // vertical-align: center;
            font-weight: 700;
            font-size: rem(14px);
            color: white;
        }
        .icon {
            color: inherit;
            position: relative;
        }

        .btn.close {
            cursor: pointer;
            border-radius: 50%;
            background-color: #00000014;
            height: 40px;
            margin: 4px;
            border: none;
            padding: 4px;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            // z-index: 2;
            @include trello-icon($content: "\e91c", $type: md);
            &:hover {
                background-color: #00000029;
            }
        }

        // .btn.close::before {
        //     content: "\e91c";
        // background-image: url(../assets/icons/close.svg);
        // }
        .btn {
            background-color: $clr11;
            padding: 6px 12px;
            transition: background-color 85ms, color 85ms;
        }
        .btn:hover {
            cursor: pointer;
            // background-color: $clr11;
            // filter: brightness(50%);
        }
        button {
            border-radius: 4px;
            cursor: pointer;
            border: none;
            color: inherit;
        }
        button:not(.save-new-list-btn) {
            background-color: initial;
        }
        .img-container {
            height: 80px;
            width: 112px;
        }
        .open {
            pointer-events: none;
        }
        .cover {
            height: 116px;
            width: 103.2%;
            transform: translate(-16px);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    ul {
        padding: 0;
        gap: 5px !important;
        margin: 0;
    }
}
