.task-preview {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    background-color: $clr2;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    margin-bottom: 8px;

    main {
        padding: 6px 8px 2px;
    }

    .task-cover-color {
        height: 32px;
        // background-color: aqua;
    }

    .task-cover-img {
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 200px;
    }

    ul {
        flex-wrap: wrap;

        &:hover {
            filter: brightness(85%);
        }
    }

    .task-label {
        height: 8px;
        margin: 0 4px 4px 0;
        max-width: 40px;
        min-width: 40px;
        padding: 0 8px;
        text-shadow: none;
        width: auto;
        border-radius: 4px;
        float: left;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        line-height: 240px;
    }

    .task-preview-title {
        color: $clr4;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 4px;
    }

    .actions-container {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-self: flex-end;
    }
    
    .first-actions{
        display: flex;
        align-self: flex-start;
        // align-items: flex-end;
    }

    .date-preview {
        // padding-bottom: 5px;
        // padding: 2px;
        // padding-left: 4px;
        // margin-bottom: 5px;
        // margin-right: 3px;
        height: 20px;

        &:hover {
            background-color: #ebecf0;
            border-radius: 3px;
            .date-icon {
                display: none;
            }
            .checked-icon {
                @include trello-icon($content: "\e919");
                width: 24px;
                height: 24px;
                padding-right: 3px;
                padding-left: 0px;
            }
        }

        .date-icon {
            @include trello-icon($content: "\e91b");
            display: inline;
            color: #5e6c84;
            width: 24px;
            height: 24px;
            padding-right: 3px;
        }

        .date {
            font-size: 12px;
            padding: 0 4px 0 2px;
            vertical-align: top;
            white-space: nowrap;
        }

        &.overdue {
            background-color: #ec9488;
            border-radius: 3px;
            color: $clr2;
            margin-bottom: 5px;
            border-radius: 3px;
            padding: 2px;
            padding-left: 4px;

            .date-icon {
                color: $clr2;
            }

            &:hover {
                background-color: #eb5a46;
                .checked-icon {
                    color: $clr2;
                }
            }
        }

        &.due-soon {
            margin-bottom: 5px;
            background-color: #f2d600;
            border-radius: 3px;
            color: #fff;
            padding: 2px;
            padding-left: 4px;

            .date-icon {
                color: $clr2;
            }

            &:hover {
                background-color: #d9b51c;
                .checked-icon {
                    color: $clr2;
                }
            }
        }

        &.complited {
            background-color: #61bd4f;
            border-radius: 3px;
            color: #fff;
            margin-bottom: 5px;
            border-radius: 3px;
            padding: 2px;
            padding-left: 4px;
            .date-icon {
                color: $clr2;
            }
                       
            &:hover {
                background-color: #519839;

                .date-icon {
                    display: none;
                }
                .checked-icon {
                    display: none;
                }
    
                .complited-icon {
                    @include trello-icon($content: "\e91a");
                    color: $clr2;
                    width: 24px;
                    height: 24px;
                    padding-right: 3px;
                }
                
            }
        }
    }

    .description-icon {
        @include trello-icon($content: "\e922");
        color: #5e6c84;
        margin: 4px 0px 4px 0;
        padding: 2px;
        padding-top: 0;
        width: 24px;
        height: 24px;
    }

    .attachment-preview {
        margin: 0px 0px 4px 0;
        padding: 2px;

        .attachments-icon {
            @include trello-icon($content: "\e908");
            color: #5e6c84;
            margin: 4px 0px 4px 0;
            padding: 2px;
            width: 24px;
            height: 24px;
        }

        .attach-num {
            font-size: 12px;
            padding: 4px 4px 0 2px;
            vertical-align: top;
            color: $clr15;
        }
    }

    &:hover {
        background-color: #f4f5f7;
    }

    .checklist-preview {
        margin: 0px 0px 4px 0;
        padding: 3px;
        min-height: 20px;

        .checklist-icon {
            @include trello-icon($content: "\e91a");
            color: #5e6c84;
            width: 24px;
            height: 24px;
        }

        .checkedSum {
            font-size: 12px;
            padding: 1px 4px 0 2px;
            vertical-align: top;
            color: $clr15;
        }

        &.done {
            background-color: #61bd4f;
            border-radius: 3px;
            color: #fff;
            .checkedSum,
            .checklist-icon {
                color: $clr2;
            }
        }
    }

    .members-preview {
        margin-left: auto;

        > * {
            background-size: contain;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            margin: 0 0 4px 4px;
            // position: relative;
        }
    }
}

@keyframes label_text_appear {
    0% {
        color: #0000;
        height: 8px;
        width: 40px;
    }
    25% {
        height: 8px;
        padding-right: 10px;
        // width: -moz-fit-content;
        width: fit-content;
    }
    45% {
        height: 8px;
        padding-right: 9px;
    }
    53% {
        height: 8px;
        padding-right: 8px;
    }
    75% {
        color: #0000;
        height: 16px;
    }
}

@keyframes label_text_disappear {
    0% {
        height: 16px;
        line-height: 16px;
        padding: 0 8px;
        width: -moz-fit-content;
        width: fit-content;
    }
    33% {
        color: #0000;
        height: 16px;
        line-height: 16px;
        width: -moz-fit-content;
        width: fit-content;
    }
    66% {
        color: #0000;
        height: 8px;
        line-height: 100px;
        padding: 0 8px;
        width: -moz-fit-content;
        width: fit-content;
    }
    to {
        color: #0000;
        padding: 0;
        width: 40px;
    }
}
