.title-container {
    flex-grow: 1;
    .title {
        width: calc(100% - 100px);
        margin-top: 8px;
        font-weight: 600;
        line-height: 24px;
        font-size: 20px;
        // padding: 0 5px;
        &:focus {
            background-color: white;
            border-radius: 3px;
            outline: none;
            box-shadow: inset 0 0 0 2px #0079bf;
        }
    }
    .group-txt {
        font-size: 1em;
        cursor: default;
        display: inline-block;
        // margin: 4px 8px 4px 2px;
        margin-left: 2px;
        height: 30px;
        span {
            text-decoration: underline;
        }
    }
}
