.title-container {
    flex-grow: 1;
    .title {
        width: calc(100% - 100px);
        margin-top: 8px;
        font-weight: 600;
        line-height: 24px;
    }
    .group-txt {
        font-size: 1em;
        cursor: default;
        display: inline-block;
        margin: 4px 8px 4px 2px;
        height: 30px;
        span {
            text-decoration: underline;
        }
    }
}
