// COLOR PALETTE
$clr1: #000; //black
$clr2: #fff; //white

$clr3: #ebecf0; //group-bgc
$clr4: #172b4d; //group-title + card-title

$clr5: #f5f4f7; // Task bgc

$clr6: #fafbfc; // Body bgc (_base)
$clr7: #41506c; // Task txt color

$clr8: #0079bf; //add card button
$clr9: #026aa7; //add card button hover

$clr10: #42526e; // Close task-details btn color
$clr11: #091e4214; // Close task-details btn background-color:hover
$clr12: #172a4c; // Title txt color
// $clr4: darken($clr3, 40%);
// $clr5: #2d2d2d;

// LAYOUT
$layoutPadding: 8px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

// Paths
$icons-path: "./assets/icons";
